.Room {
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Room .text {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--word-gap);
}

.Room .text h3 {
    font-size: 1.4rem;
    font-weight: 300;
}

.Room #input {
    position: absolute;

    font-size: 1.4rem;
    font-weight: 300;

    color: transparent;
    caret-color: var(--txt-main);
    background: none;
    /* background-color: #46454725; */
    
    border: none;
    border-radius: .2rem;
    outline: none;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.212); */
}

.Room .text .incorrect {
    color: rgb(241, 52, 52);
}

.Room .text .correct {
    color: var(--correct);
}

.replay {
    width: 4rem;
    height: 3rem;
    margin: 2rem auto 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #3a3842af;
    border-radius: 10%;
    cursor: pointer;
}

.replay:hover {
    color: rgba(245, 245, 245, 0.753);
    background-color: #3a38428f;
}

.replay svg {
    font-size: 2rem;
}